# Set the default behavior, in case people don't have core.autocrlf set.
* text=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text
*.xml text
*.properties text
*.md text
*.py
*.sh

# Declare files that will always have CRLF line endings on checkout.
robotCommand text eol=lf
robotDebugCommand text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jar binary
*.ipk binary
*.class binary