*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore build products
SpringKonstant/bin/*
SpringKonstant/build/*
SpringKonstant/dist/*

# All metadata files
.metadata
.metadata/*
SpringKonstant/.DS_Store
.DS_Store
SpringKonstant/.DS_Store

# Eclipse Class Path
SpringKonstant/.classpath
